name: Mirror Upstream

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Mirror upstream
        uses: repo-sync/github-sync@v2
        with:
          source_repo: "anoopshah/Rdiagnosislist"
          source_branch: "master"
          destination_branch: "master"
          github_token: ${{ secrets.GITHUB_TOKEN }}
